@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "./normalize";
@import "./reset";
@import "./variables";
@import "./flex-addon";
@import "./core/colors";
@import "./core/sizes";
@import "./core/radius";
@import "./core/typography";
@import "./core/flex";

:root {
  --theme-background: #{$light-page};
  --theme-color: #{$dark};
}

a {
  text-decoration: none;
}

.error-message {
  color: $negative;
}

.application {
  min-height: 100vh;
  height: 100%;
  background-color: var(--theme-background);
  color: var(--theme-color);

  &.theme--dark {
    --theme-background: #{$dark-page};
    --theme-color: #{$light};
  }
}
