@import "app/styles/variables";
@import "app/styles/core/colors";

.btn {
  position: relative;
  font-size: $button-font-size;
  line-height: $button-line-height;
  font-weight: $button-font-weight;
  min-height: $button-min-height;
  text-transform: uppercase;
  color: $white;
  overflow: hidden;
  user-select: none;

  &:not(.icon) {
    border-radius: $button-border-radius;
    padding: $button-padding;
  }

  &:disabled {
    pointer-events: none;
    background-color: $disabled;
    opacity: 0.5;
  }

  &.primary:not([disabled]) {
    background-color: $primary;
  }

  &.secondary:not([disabled]) {
    background-color: $secondary;
  }

  &.accent:not([disabled]) {
    background-color: $accent;
  }

  &.surface:not([disabled]) {
    background-color: $surface;
  }

  &.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    span {
      display: flex;
    }
  }
}
