@import "app/styles/variables";
@import "app/styles/core/colors";

.btn {
  position: relative;
  border-radius: $button-border-radius;
  padding: $button-padding;
  font-size: $button-font-size;
  line-height: $button-line-height;
  font-weight: $button-font-weight;
  min-height: $button-min-height;
  text-transform: uppercase;
  color: $white;
  overflow: hidden;
  user-select: none;

  &:disabled {
    pointer-events: none;
    background-color: $disabled;
    opacity: 0.5;
  }

  &.primary:not([disabled]) {
    background-color: #1976d2;
  }

  &.secondary:not([disabled]) {
    background-color: #26a69a;
  }

  &.accent:not([disabled]) {
    background-color: #9c27b0;
  }
}
