$primary: #1976d2 !default;
$secondary: #9c27b0 !default;
$accent: #26a69a !default;
$surface: rgb(45 45 45 / 70%) !default;
$positive: #21ba45 !default;
$negative: #c10015 !default;
$info: #31ccec !default;
$warning: #f2c037 !default;
$gray: #999 !default;
$theme-dark-page: #121212 !default;
$theme-dark-transparent: rgb(0 0 0 / 15%) !default;
$theme-dark: #121212 !default;
$theme-light-page: #fff !default;
$theme-light: #fff !default;
$theme-light-transparent: rgb(255 255 255 / 15%) !default;

// решить что-то с цветом
$white: #fff !default;
