$primary: #1976d2 !default;
$secondary: #26a69a !default;
$accent: #9c27b0 !default;
$surface: rgb(45 45 45 / 70%) !default;

// used by dark mode
$dark-page: #121212 !default;
$dark: #1d1d1d !default;
$light-page: #fff !default;
$light: #f1f1f1 !default;
$positive: #21ba45 !default;
$negative: #c10015 !default;
$info: #31ccec !default;
$warning: #f2c037 !default;

// решить что-то с цветом
$white: #fff !default;
$disabled: #ccc;
